.svitlofor {
   width: 254px;
   height: 762px;
   border: solid 2px black;
   background-color: black;
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   .alldiv{
      width: 250px;
      height: 250px;
      border: solid 2px wheat;
      border-radius: 150px;
   }
   &-1{
      background-color: gray;
   }
   &-2{
      background-color: gray;
   }
   &-3{
      background-color: gray;
   }
}
#btn {
   position: absolute;
   top: 150px;
   left: 30px;
}