body {
  height: 200vh;
}

@font-face {
  font-family: gilroy-bold;
  src: url(../assets/gilroy-bold.ttf);
}

@font-face {
  font-family: gilroy-medium;
  src: url(../assets/gilroy-Medium.ttf);
  font-size: 18px;
}

.all-h2 {
  font-size: 34px;
}

.all-h3 {
  font-size: 18px;
}

.size-gilroy-bold {
  font-family: gilroy-bold;
}

.size-gilroy-medium {
  font-family: gilroy-medium;
}

header {
  max-width: 950px;
  height: 85px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 100px;
}

@media screen and (max-width: 600px) {
  header {
    gap: 70px;
  }
}

.header-link {
  text-decoration: none;
  color: #828282;
  font-size: 18px;
}

.home {
  color: #070707;
}

#RU {
  color: #828282;
}

.up-line {
  max-width: 950px;
  border: 1px solid #828282;
  margin: auto;
}

.main-block-info {
  max-width: 950px;
  height: 190px;
  /* background-color: crimson; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.block-name {
  font-size: 48px;
  color: #070707;
  transform: translateY(-20px);
}

.block-years {
  font-size: 18px;
  /* background-color: darkmagenta; */
}

.block-lng {
  display: flex;
  transform: rotateZ(-90deg) translateY(40px) translateX(15px);
  height: 50px;
}

.div-photo-self-big {
  max-height: 387px;
  max-width: 943.61px;
  margin: 0 auto;
  .photo-self-big {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .div-photo-self-big {
    display: none;
  }
}

.div-photo-self-small {
  height: 478px;
  width: 316px;
  margin: 0 auto;
  display: none;
  .photo-self-big {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .div-photo-self-small {
    display: block;
  }
}

.block-about-me {
  height: 506px;
  /* background-color: chocolate; */
  max-width: 950px;
  margin: 0 auto;
  margin-top: 100px;
}

.div-about-me {
  margin: auto;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  /* background-color: darkgreen; */
  position: relative;
  top: 160px;
}

.div-skills {
  height: 610px;
  max-width: 950px;
  margin: auto;
  /* background-color: darksalmon; */
}

.div-skills-text {
  text-align: center;
}

.h2-skills {
  position: relative;
  top: 90px;
}

.skills-text {
  position: relative;
  top: 185px;
}

.div-icon-programs {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 290px;
}

.image-adobe-photoshop {
  background-image: url(../assets/adobe-photoshop.svg);
  height: 90px;
  width: 90px;
}

.image-adobe-illustrator {
  background-image: url(../assets/adobe-illustrator.svg);
  height: 90px;
  width: 90px;
}

.image-adobe-after-effects {
  background-image: url(../assets/adobe-after-effects.svg);
  height: 90px;
  width: 90px;
}

.image-figma {
  background-image: url(../assets/figma.svg);
  height: 90px;
  width: 60px;
  background-repeat: no-repeat;
}

.name-programs {
  display: flex;
  justify-content: space-around;
  transform: translateY(310px);
  /* background-color: aqua; */
}

.icon-width {
  /* background-color: crimson; */
  width: 90px;
}

.last-icon-width {
  width: 60px;
}

.div-image-star {
  display: flex;
  justify-content: space-around;
  transform: translateY(350px);
  /* background-color: aqua; */
}

.img-photoshop {
  background-image: url(../assets/for-star.png);
  width: 166px;
  height: 26px;
}

.img-illustrator {
  background-image: url(../assets/three-star.png);
  width: 166px;
  height: 26px;
}

.img-after-effects {
  background-image: url(../assets/for-star.png);
  width: 166px;
  height: 26px;
}

.img-figma {
  background-image: url(../assets/for-star.png);
  width: 166px;
  height: 26px;
}

/* .a {
   
   background-color: darkgreen;
 } */

.image-translate2 {
  transform: translateX(12px);
}

.image-translate3 {
  transform: translateX(19px);
}

.image-translate4 {
  transform: translateX(11px);
}

@media screen and (max-width: 600px) {
  .image-translate2 {
    transform: translateX(0px);
  }
}

.more-image {
  max-width: 950px;
  height: 2253px;
  margin: 0 auto;
  //   background-color: greenyellow;
}

@media screen and (max-width: 820px) {
  .more-image {
    height: 2010px;
  }
}
@media screen and (max-width: 768px) {
  .more-image {
    height: 1953px;
  }
}
@media screen and (max-width: 600px) {
  .more-image {
    height: 1674px;
  }
}

.more-text-portfolio {
  text-align: center;
  position: relative;
  top: 110px;
}

.div-image-portfolio {
  max-width: 936.24px;
  max-height: 510px;
}

.image-portfolio {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 154px;
}

.more-text-online {
  text-align: center;
  position: relative;
  top: 195px;
}

.div-image-reebok {
  max-width: 936.24px;
  max-height: 522px;
}

.image-reebok {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 290px;
}

.more-text-reebok {
  text-align: center;
  position: relative;
  top: 342px;
  /* background-color: aqua; */
}

.div-image-concept {
  max-width: 936px;
  max-height: 523px;
}

.image-concept {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 443px;
}

.more-text-сoncept {
  text-align: center;
  position: relative;
  top: 490px;
  /* background-color: aqua; */
}

.footer {
  max-width: 950px;
  height: 622px;
  margin: 0 auto;
  background-color: darkcyan;
  text-align: center;
  display: flex;
}

.div-footer-h2 {
  position: relative;
  top: 115px;
  max-width: 145.6px;
  height: 43px;
}

.div-footer-invitations {
  position: relative;
  top: 180px;
  width: 275px;
  height: 44px;
}

.div-button-footer {
  max-width: 165px;
  height: 42px;
  background-color: #070707;
  display: flex;
  justify-content: center;
  border-radius: 25px;
}

.button-footer {
  padding: 0;
  border: none;
  color: #ffffff;
  background-color: #070707;
}

.ss {
  width: 300px;
  height: 300px;
}
